.Education-card {
  border: 1px solid;
  padding: 40px; 
  width: 90%;
  margin-left: 20px;
  margin-top: 50px;
  
}
.ga-class img {
  width: 75px;
  height: 75px;
}
.st-peters img{
  width: 75px;
    height: 75px;
}
.educations{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}