.Education-card {
  border: 1px solid;
  padding: 40px; 
  width: 80%;
  margin-left: 20px;
  margin-top: 50px;
  
}
.ga-class img {
  width: 100px;
  height: 100px;
}
.st-peters img{
  width: 100px;
    height: 100px;
}
.educations{
  display: grid;
  grid-template-columns: auto auto;
}