.Skills-card {
  border: 1px solid;
  padding: 10px; 
  width: 90%;
  margin-top: 50px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}


.all-tech img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.all-tech ul li {
  list-style: none;
   padding: 10px
}
.all-tech ul li h4 {
  text-align: center;
}

@media screen and (max-width:700px){
  .Skills-card {
   width: 100vw;
   
  }
}