.contact-card {
  border: 1px solid;
  padding: 40px; 
  width: 30vw;
  margin-left: 20px;
  margin-top: 50px;
  
  text-align: left;
}
.contact-image {
 
}
.contacts {
  display: grid;
  grid-template-columns: auto auto;
  
}
.contact-image img{
  background-color: blue;
  width: 100px;
  height: 100px;
}
.contact-image email-image img{
  background-color: blue;
  width: 100px;
  height: 100px
}
.contacts p {
  padding-right: 150px;
}

@media screen and (max-width:700px){
  .contact-card {
    width: 70vw;
  }
}
