.header-container {
  display: flex;
  flex-flow: row;
  max-width: 800px;
  justify-content: space-evenly;
  padding-top: 75px;
  padding-right: 100px;
  height: 175px;
}
.social-container {
  display:flex;
  max-width: 600px;
  padding-right: 150px;
 justify-content: flex-end;
}
.profile-picture{
  order: -1;
}
.profile-picture img{
  width: 200px;
  height: 200px;
 

}
.social-linkin img {
  width: 50px;
  align-self: center;
}
.social-github img {
  width: 50px;
}
.job-title {
  align-self: center;
}
.social-github{
  padding-right: 30px
}
.profile-image {
 border-radius: 50%;
 margin-left: 50px;
}
.github-image ,.linkin-image{
  border-radius: 50%;
}
.job-title {
  padding-bottom: 1px;
}

@media screen and (max-width:700px){
  .social-container {
    margin-top: 50px;
    justify-content: flex-end;
    padding-right: 80px;
  }
}
