.header-container {
  display: flex;
  flex-flow: row;
  max-width: 900px;
  justify-content: space-evenly;
  padding-top: 75px;
  height: 200px;
}
.social-container {
  display:flex;
  max-width: 700px;
 justify-content: flex-end;
}
.profile-picture{
  order: -1;
}
.profile-picture img{
  width: 300px;
  height: 300px;
 

}
.social-linkin img {
  width: 100px;
  align-self: center;
}
.social-github img {
  width: 100px;
}
.job-title {
  align-self: center;
}
.social-github{
  padding-right: 30px
}
.profile-image {
 border-radius: 50%;
 margin-left: 50px;
}
.github-image ,.linkin-image{
  border-radius: 50%;
}
